{% extends '_layouts/elementindex' %}
{% set title = 'Stores' %}
{% set elementType = 'aatanasov\\storelocator\\elements\\Store' %}

{% block actionButton %}
    <a href="#" class="submit btn add icon">{{ "New Store"|t('store-locator') }}</a>
{% endblock %}